.coupleHora {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.astaKootamiScoreTable {
  margin-top: calc(var(--spacing) * 1.5);

  td:first-child {
    font-weight: bold;
  }

  tfoot {
    td:first-child {
      text-align: right;
    }
  }
}
