<div class="nakshatra-pada-container">
  <form #padaForm="ngForm" (ngSubmit)="onSubmit(padaForm)" class="nakshatra-pada-form">
    <app-select
      label="Select Nakshatra"
      [options]="nakshatraOptions"
      [(value)]="selectedNakshatra"
      fieldName="nakshatra"
    ></app-select>

    <app-select label="Select Pada" [options]="padaOptions" [(value)]="selectedPada" fieldName="pada"></app-select>

    <button type="submit">Submit</button>
  </form>

  @if (selectedPadaInfo()) {
    <div>
      <pre>
      <code>{{ selectedPadaInfo() | json }}</code>
    </pre>
    </div>
  }
</div>
