@use '../../../utils' as *;

:host {
  display: block;
}

.tabs {
  .tab-headers {
    display: flex;
    gap: var(--spacing);
    overflow: auto;

    button {
      padding: 12px 20px;
      border-radius: 25px;
      transition: all 0.2s ease;
      white-space: nowrap;

      &.active {
        background: var(--theme);
        border-color: var(--theme);
        color: var(--white);
      }
    }

    @include fromMd {
      justify-content: center;
    }
  }

  .tab-content {
    padding: var(--spacing);
    padding-top: calc(var(--spacing) * 1.5);
  }
}
