:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* Keeps browser rendering in light mode */

  /* Force light colors/backgrounds globally */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000000;
  --white: #ffffff;
  --theme: #007bff; //#646cff;
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f8f9fa;
  --gray-150: #e9ecef80;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-850: #24232a;
  --gray-900: #212529;
  --gray-950: #1f1e24;
  --border-color: var(--gray-400);
  --border-radius: 6px;
  --disabled: var(--gray-600);
  --button-hover-box-shadow: inset 0 0 0 1px var(--theme),
    0 1px 1px 0 rgba(0, 0, 0, 0.08);
  --spacing: 1rem;
  --base: 16;
  --html-font-size: calc((var(--base) / 16) * 100%);
  --font-8: calc(8 / var(--base) * 1rem);
  --font-12: calc(12 / var(--base) * 1rem);
  --font-14: calc(14 / var(--base) * 1rem);
  --font-16: calc(16 / var(--base) * 1rem);
  --font-24: calc(24 / var(--base) * 1rem);
  --font-32: calc(32 / var(--base) * 1rem);
  --font-40: calc(40 / var(--base) * 1rem);
  --font-48: calc(48 / var(--base) * 1rem);
  --font-64: calc(64 / var(--base) * 1rem);
  --icon-chevron: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
}

*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  line-height: 1.5;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--gray-150);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #747bff; /* Light hover */
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Inherits light bg/color from :root */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.formControl {
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}
