.tabs {
  .tabHeaders {
    display: flex;
    gap: var(--spacing);
    justify-content: center;

    button {
      padding: 12px 20px;
      border-radius: 25px;

      &.active {
        background: var(--theme); /* Blue background for active */
        border-color: var(--theme);
        color: var(--white);
      }
    }
  }

  .tabContent {
    padding: var(--spacing);
    padding-top: calc(var(--spacing) * 1.5);
  }
}
